<table class="table table-striped">
	<thead>
		<tr>
		<th>#</th>
		<th>User ID</th>
		<th>Email</th>
		<th>Role</th>
		<th colspan="2" class="tcenter">Action</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each_with_index do |user, i| %>
			<tr>
				<td><%= i+1 %></td>
				<td><%= user.id %></td>
				<td><%= user.email %></td>
				<td><%= user.role.try(:name) %></td>
				<td class="tcenter"><%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary" %></td>
				<td class="tcenter"><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
			</tr>
		<% end %>
	</tbody>
</table>