<div class="row">
<div class="col-xs-5">
  <%= f.label :food %>
  <%= f.select :food_id, options_for_select(Food.all.map{|c| [c.name, c.id]}, f.object.food_id), {}, {class: "form-control selectpicker",	"data-live-search" => "true" } %>
</div>

  <div class="col-xs-3">
  	<%= f.label :quantity, "Qty" %>
  	<%= f.number_field :quantity, min: 1, class: "form-control" %>
  </div>

  <div class="col-xs-2">
  	<i class="fa fa-truck"></i>
  	<%= f.check_box :takeaway, class: "form-control" %>
  </div>

  <%#= f.label :status %>
  <%#= f.text_field :status %>
  <div class="col-xs-2">
  	<i class="fa fa-trash-o"></i>
  	<%= f.check_box :_destroy, class: "form-control" %>
  </div>
  </div>
<br>
