<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</p>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :table_number %>
  <%= f.text_field :table_number %>

  <h4> Add Foods </h4>
  <%= f.fields_for :foods_orders do |co| %>
    <%= render 'foods_order_fields', f: co %>
  <% end %>
  <%= link_to_add_fields "Add Food", f, :foods_orders %>
  
  <h4> Add Drinks</h4>
  <%= f.fields_for :drinks_orders do |co| %>
    <%= render 'drinks_order_fields', f: co %>
  <% end %>
  <%= link_to_add_fields "Add Drink", f, :drinks_orders %>

  <br><br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
