<div class="row">
  <div class="col-md-12">
    <h3>Orders</h3>
    <%= button_to "", { :onclick => "history.go(0)", :method => :get, class: 'btn btn-primary btn-sm' } do %>
      Refresh <i class="fa fa-refresh"></i>
    <% end %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-1">Table</th>
          <th class="col-md-2">Foods</th>
          <th class="col-md-2"></th>
          <th class="col-md-2">Drinks</th>
          <th class="col-md-2"></th>
          <th class="col-md-2">Grand total</th>
          <th class="col-md-1" colspan="2"></th>
        </tr>
      </thead>

      <tbody>

          <% @orders.each do |order| %>
            <% if order.foods_orders.first.try(:status) == 0 || order.drinks_orders.first.try(:status) == 0 %>
              <tr>
                <td><%= order.table_number %></td>
                <td>
                  <% order.foods_orders.each do |f| %>
                    <p>
                      $<%= f.food.try(:price)%>&nbsp;&nbsp;<%= f.quantity %>x <%= f.food.try(:name) %>
                      <% if f.takeaway == true %>
                        <i class="fa fa-truck"></i> <!-- indicate this menu is takeaway -->
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <td>
                  <strong>Food total:<br>
                  </strong>$<%= order.food_total %>
                </td>
                <td>
                  <% order.drinks_orders.each do |d| %>
                    <p>
                      $<%= d.drink.try(:price)%>&nbsp;&nbsp;<%= d.quantity %>x <%= d.drink.try(:name) %>
                      <% if d.takeaway == true %>
                        <i class="fa fa-truck"></i> <!-- indicate this menu is takeaway -->
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <td>
                  <strong>Drink total:<br>
                  </strong>$<%= order.drink_total %>
                </td>
                <td><h3><strong>$<%= order.food_total + order.drink_total %></strong></h3></td>
                <td><%#= link_to 'Show', order, class: "btn btn-primary" %></td>
                <td class="vert-align"><%= link_to order_path(order), class: "btn btn-success" do %>
                  Generate Bill <i class="fa fa-check"></i><% end %>
                </td>
                <% if can? :edit, Order %>
                  <td class="vert-align"><%= link_to edit_order_path(order), class: "btn btn-primary btn-sm" do %>Edit <i class="fa fa-pencil-square-o"></i><% end %></td>
                <% end %>
                <% if can? :destroy, Order %>
                  <td class="vert-align"><%= link_to order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do %>Delete <i class="fa fa-trash-o"></i><% end %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>

      </tbody>
    </table>
  </div>
</div>
