    <div class="tcenter">
      <h1><u>Reciept</u></h1>
    </div>
    <br>
    <div class="tcenter">
      <h3>Table: #<%= @order.table_number %></h3>
    </div>
    <br>
  <div class="tcenter">
    <% if @order.foods_orders.present? %>
      <h3>Foods: </h3>
      <ul>
        <% @order.foods_orders.each do |co| %>
          <%= co.food.name %> | Quantity: <%= co.quantity%> | Status: <%= co.status%> | Takeaway:
            <% if co.takeaway == true %>
              Yes
              <% else %>
              No
            <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <br>
  <div class="tcenter">
    <% if @order.drinks_orders.present? %>
    <h3>Drinks: </h3>
      <ul>
        <% @order.drinks_orders.each do |co| %>
          <%= co.drink.name %> | Quantity: <%= co.quantity%> | Status: <%= co.status%> | Takeaway:
            <% if co.takeaway == true %>
              Yes
              <% else %>
              No
            <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
    <br>
    <br>
    <% if @order.paid? %>
      <h4>Order: #<%= @order.id %> <span class="label label-success">Payment complete</span> via <span class="label label-warning"><%= @order.payment.payment_type %></span> on <%= @order.payment.updated_at.to_date %> at <%= @order.payment.updated_at.to_s(:time) %></h4>
    <% else %>
    <div class="tcenter">
      <%= link_to 'Edit', edit_order_path(@order), class: "btn btn-info btn-sm" %> |
      <%= link_to 'Back', orders_path, class: "btn btn-default btn-sm" %>
    </div>
      <br>
      <br>
      <br>
    <div class="tcenter">
      <table class="qr-code">
      <% @qr.modules.each_index do |x| %>
        <tr>
        <% @qr.modules.each_index do |y| %>
         <% if @qr.dark?(x,y) %>
          <td class="black"/>
         <% else %>
          <td class="white"/>
         <% end %>
        <% end %>
        </tr>
      <% end %>
      </table>
    </div>
      <br>
      <br>
  <div class="tcenter">
      <%= link_to "Pay $#{@order.grand_total} now", new_order_payment_path(@order), class: "btn btn-success btn-lg" %>
    <% end %>
  </div>
