<div class="row">
  <div class="col-sm-6 col-sm-offset-3 receipt">
        <h1><u><strong>Receipt </strong></u></h1>
      <br>
        <h3><strong>Table: #<%= @order.table_number %></strong></h3>
      <br>
      <% if @order.foods_orders.present? %>
        <h3><strong>Foods: </strong></h3>
        <ul>
          <% @order.foods_orders.each do |co| %>
            <td><li><%= co.food.name %> | Quantity: <%= co.quantity%> <!-- | Status: <%= co.status%> --> | Takeaway:
              <% if co.takeaway == true %>
                Yes
                <% else %>
                No
              <% end %>
            </li></td>
          <% end %>
        </ul>
      <% end %>
    <br>
      <% if @order.drinks_orders.present? %>
      <h3><strong>Drinks: </strong></h3>
        <ul>
          <% @order.drinks_orders.each do |co| %>
            <li><%= co.drink.name %> | Quantity: <%= co.quantity%> <!-- | Status: <%= co.status%> --> | Takeaway:
              <% if co.takeaway == true %>
                Yes
                <% else %>
                No
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <br>
    <br>
      <h3><strong> Grand Total: </strong></h3><h3><strong><u>$<%= @order.grand_total %></u></strong></h3>
    <br>
    <br>
    <% if @order.paid? %>
      <h4>Order: #<%= @order.id %> <span class="label label-success">payment complete</span> via <span class="label label-warning"><%= @order.payment.payment_type %></span> on <br><br><%= @order.payment.updated_at.to_date %> at <%= @order.payment.updated_at.to_s(:time) %></h4>
    <% else %>
     <!--  <%= link_to 'Edit', edit_order_path(@order), class: "btn btn-warning btn-sm" %> |
      <%= link_to 'Back', orders_path, class: "btn btn-default btn-sm" %> -->
      <!-- <br>
      <br> -->
      <p><u> Please scan this QR Code to pay. </u></p>
      <table class="qr-code">
        <% @qr.modules.each_index do |x| %>
          <tr>
            <% @qr.modules.each_index do |y| %>
              <% if @qr.dark?(x,y) %>
                <td class="black"/>
              <% else %>
                <td class="white"/>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    <br>
    <%= link_to "Pay $#{@order.grand_total} now", new_order_payment_path(@order), class: "btn btn-success btn-lg" %>
  <% end %>
  </div>
</div>
