<p id="notice"><%= notice %></p>

<h3>Listing Foods</h3>
<%= link_to 'New Food', new_food_path, class: "btn btn-primary" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each_with_index do |food, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= food.name %></td>
        <!-- <td><%= link_to 'Show', food, class: "btn btn-default" %></td> -->
        <td><%= link_to 'Edit', edit_food_path(food), class: "btn btn-primary" %></td>
        <td><%= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>