<!-- <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3"> -->
    <div class="tcenter">
      <h2><u>
        Payment for table: #<%= @order.table_number %>
      </u></h2>
      
      <br>
      <br>

      <!-- <div class="col-sm-10 col-md-8 col-lg-6"> -->
      <div class="tcenter">
        <%= form_for([@order, @payment]) do |form| %>
        
          <h3>Amount due: <span class="label label-danger">$<%= @order.grand_total %>
          <!-- </div> --></span></h3>
          <br>
          <div class="tcenter">
            <h4>Select one option below:</h4></div>
            <br>
          <div id="dropin"></div>

          <%= form.hidden_field :amount, value: @order.grand_total %>
          <br>
          <%= form.submit "Confirm credit card or Paypal payment", class: "btn btn-success btn-lg" %>
        <%end%>


        <br>
        <br>

        <%= form_for([@order, @payment]) do |form| %>
          <%= form.hidden_field :amount, value: @order.grand_total %>
          <%= form.hidden_field :payment_type, value: "cash" %>

          <%= form.submit "Pay $#{@order.grand_total} via cash", class: "btn btn-warning btn-lg" %>
        <% end %>

      </div>
   

      <% content_for :javascript do %>

        <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script>
    </div>
   <% end %>
</div>
