<!DOCTYPE html>
<!DOCTYPE svg PUBLIC “-//W3C//DTD SVG 1.1//EN” “http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd”>
<html>
<head>
  <title>Ordr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <!-- make this app works on mobile (responsive) -->
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <%= link_to 'Ordr', root_url, class: "navbar-brand" %>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<% if can? :manage, Food %>
	        	<li><%= link_to foods_url do %>Manage Foods <i class="fa fa-cutlery"></i><% end %></li> 
	        <% end %>
	        <% if can? :manage, Drink %>
	        	<li><%= link_to drinks_url do %>Manage Drinks <i class="fa fa-coffee"></i><% end %></li>
	        <% end %>
	        <% if can? :manage, User %>
	        	<li><%= link_to users_url do %>Manage Users <i class="fa fa-users"></i><% end %></li>
	        <% end %>
        	<% if can? :update_foods_status, Order %>
        		<li><%= link_to kitchen_foods_path do %>Foods Orders <i class="fa fa-cutlery"></i><% end %></li>
        	<% end %>

        	<% if can? :update_drinks_status, Order %>
        		<li><%= link_to kitchen_drinks_path do %>Drinks Orders <i class="fa fa-coffee"></i><% end %></li>
        	<% end %>

	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">

			<% if current_user %>

			<li class="new-order-btn">
	      	<form class="navbar-form navbar-left">
	      		<% if can? :new, Order %>
	      			<%= link_to new_order_url, class: "btn btn-primary" do %>New Order &nbsp;<i class="fa fa-plus"></i><% end %>
	      		<% end %>
		      </form>
			</li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><%= link_to user_path(current_user.id) do %><i class="fa fa-user"></i> My profile<% end %></li>
	            <li><%= link_to edit_user_registration_url do %><i class="fa fa-pencil-square-o"></i> Edit profile<% end %></li>
	            <li role="separator" class="divider"></li>
	            <li><%= link_to destroy_user_session_path, method: :delete do %><i class="fa fa-sign-out"></i> Logout<% end %></li>
	          </ul>
	        </li>
	        <% else %>
		        <li class="new-order-btn">
		      	<form class="navbar-form navbar-left">
		      		<%= link_to new_user_session_url, class: "btn btn-success" do %>
		      			Log in <i class="fa fa-sign-in"></i>
		      		<% end %>
		      		<%= link_to new_user_registration_url, class: "btn btn-primary" do %>
		      			Sign up <i class="fa fa-user-plus"></i>
		      		<% end %>
			      </form>
				</li>
	        <% end %>

	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container">

		  <% flash.each do |key, value| %>
		  	<div class="<%= flash_class(key) %> fade in">
		      <!-- <a href="#" data-dismiss="alert" class="close">×</a> -->
		      <%= value %>
		    </div>
		  <% end %>

		<%= yield %>
	</div>
</body>
</html>
