<!DOCTYPE html>
<!DOCTYPE svg PUBLIC “-//W3C//DTD SVG 1.1//EN” “http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd”>
<html>
  <head>
    <!-- make this app works on mobile (responsive) -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>PayEat</title>

    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= yield :stylesheets %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>

  </head>
  <body>

    <%= render partial: '/layouts/navbar' %>

    <%= render partial: '/layouts/sidebar' %>

  	<div class="container">

      <%= render partial: '/layouts/flash' %>

  		<%= yield %>
  	</div>

    <%= yield :javascript %>

  </body>
</html>
